@charset "UTF-8";

@font-face {
    font-family: 'Paperlogy';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-4Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Paperlogy';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-5Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Paperlogy';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-6SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Paperlogy';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-7Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

body::-webkit-scrollbar {
    /*스크롤바 전체*/
    width: 15px;
}

body::-webkit-scrollbar-thumb {
    /*스크롤바 막대*/
    background-color: #a1b2db;
    border-radius: 10px;
    background-clip: padding-box;
    border: 2px solid transparent;
}

body::-webkit-scrollbar-track {
    /*스크롤바 막대 외부*/
    background-color: rgb(211, 211, 211);
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px white;
}

body {
    font-family: 'Paperlogy';
    font-size: 18px;
    line-height: 1.2;
    color: #333;
    min-width: 1320px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #222;
}


/* bubble */
.bubble {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    overflow: hidden;
}

.bubble b {
    display: block;
    position: absolute;
    bottom: -100px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: radial-gradient(ellipse at center, rgba(196, 232, 255, 0.5) 0%, rgba(102, 172, 253, 0) 70%);
    box-shadow: inset 0 20px 30px rgba(89, 175, 245, 0.4), inset 1em 1em 1em rgba(78, 147, 232, 0.6), 0 1em 2em rgba(0, 24, 61, 0.25);
    animation: bubble 15s ease-in-out infinite;
}

.bubble b:nth-child(1) {
    width: 40px;
    height: 40px;
    left: 0%;
    animation-duration: 15s;
}

.bubble b:nth-child(2) {
    width: 20px;
    height: 20px;
    left: 10%;
    animation-duration: 15s;
    animation-delay: 1s;
}

.bubble b:nth-child(3) {
    width: 50px;
    height: 50px;
    left: 20%;
    animation-duration: 17s;
    animation-delay: 2s;
}

.bubble b:nth-child(4) {
    width: 80px;
    height: 80px;
    left: 40%;
    animation-duration: 14s;
    animation-delay: 0s;
}

.bubble b:nth-child(5) {
    width: 35px;
    height: 35px;
    left: 50%;
    animation-duration: 13s;
    animation-delay: 1s;
}

.bubble b:nth-child(6) {
    width: 45px;
    height: 45px;
    left: 60%;
    animation-duration: 15s;
    animation-delay: 3s;
}

.bubble b:nth-child(7) {
    width: 25px;
    height: 25px;
    left: 70%;
    animation-duration: 14s;
    animation-delay: 2s;
}

.bubble b:nth-child(8) {
    width: 80px;
    height: 80px;
    left: 80%;
    animation-duration: 13s;
    animation-delay: 1s;
}

@keyframes bubble {
    0% {
        bottom: -100px;
        transform: translateX(0);
    }

    35% {
        transform: translateX(100px);
    }

    70% {
        transform: translateX(200px);
    }

    100% {
        bottom: 110%;
        transform: translateX(0);
    }
}

/* 헤더 */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(255, 255, 255);
    z-index: 999999;
    padding: 20px 0;
}

.header_in {
    max-width: 1320px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 20px;
    align-items: center;
}

.header_in ul {
    display: flex;
}

.nav {
    width: 70%;
    font-size: 20px;
}

.nav li {
    flex: 1;
    text-align: center;
}

.nav li a {
    display: inline-block;
    position: relative;
    padding: 10px 10px;
}

.nav a::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-color: #3D69D2;
    position: absolute;
    left: 0;
    top: 0;
    transform: scaleX(0);
    transition: 0.5s;
    z-index: -1;
}

.nav a:hover {
    color: #fff;
}

.nav a:hover::before {
    transform: scaleX(1);
}

.login {
    width: 8%;
    justify-content: space-between;
    font-weight: 600;
    font-size: 15px;
    text-align: right;
}

.login li:hover {
    text-decoration: underline;
}

.logo img {
    width: 100px;
    display: block;
}

/* 헤더 */

.mainbanner {
    margin-top: 84px;
    position: relative;
    background-color: #3D69D2;
    width: 100%;
    height: 600px;
}

.mainbanner_in {
    padding-top: 115px;
    display: flex;
    width: 1320px;
    margin: auto;
    justify-content: space-between;
    align-items: center;
}

.mainbanner h1 {
    font-size: 70px;
    font-weight: 700;
    color: #fff;
}

.mainbanner h2 {
    font-size: 32px;
    font-weight: 400;
    color: #fff;
}

h2 {
    font-size: 50px;
    font-weight: 700;
    margin: 180px auto;
    text-align: center;
}

/* 새해 이벤트 */

.newyear {
    background: url(../images/event/newyear_banner1.png) no-repeat center top ;
    background-color: #131313;
    width: 100%;
    height: 950px;
    position: relative;
}

.new_in {
    text-align: center;
    color: #fff;
    padding-top: 700px;
}

.new_in h3 {
    font-size: 50px;
    font-weight: 700;
}

.new_in h4 {
    font-size: 30px;
    font-weight: 400;
    margin: 10px 0 50px;
}

.new_in h5 {
    color: #fff;
    font-size: 20px;
    font-weight: 400;
}

.new_in a {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
}

.new_in a:hover {
    filter: opacity(0.5);
}

/* 출석체크 이벤트 */

.checkstamp {
    background: #3D69D2;
    height: 807px;
}

.checkstamp_in {
    background: url(../images/event/backin.png) no-repeat center top;
    width: 100%;
    height: 823px;
    position: relative;
    padding-top: 60px;
    text-align: center;
}

.checkstamp_in h3 {
    color: #fff;
    font-size: 50px;
    font-weight: 400;
}

.checkstamp_in h4 {
    color: #fff;
    font-size: 70px;
    font-weight: 700;
}

.checkstamp_in h5 {
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    margin: 30px;
}

.checkstamp_in h6 {
    text-align: center;
    width: 250px;
    padding: 10px 90px;
    border: 2px solid #fff;
    border-radius: 50px;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin: auto;
}

.checkstamp_in h6:hover {
    color: #3D69D2;
    border: 2px solid #fff;
    border-radius: 50px;
    background-color: #fff;
}

.stamp {
    width: 850px;
    margin: 78px auto 0;
    display: flex;
    flex-wrap: wrap;
}

.stamp a {
    margin: 30px 30px;
    transition: 0.5s;
}

.stamp a:hover {
    background: url(../images/event/stamphover.png) no-repeat;
    transition: 0.5s;
}

.stamp a:hover img {
    opacity: 0;
    transition: 0.3s;
}

/* 기기 이벤트 */

.machine {
    background-color: #333;
    width: 100%;
}

.machine_in {
    width: 1320px;
    margin: auto;
}

.machine_in h3 {
    font-size: 50px;
    font-weight: 700;
    color: #fff;
    text-align: center;
    padding: 130px 0 30px;
}

.machine_in h4 {
    font-size: 30px;
    font-weight: 400;
    color: #fff;
    text-align: center;
}

.machine_event {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}

.event1 {
    background-color: #F3F3F3;
    width: 281px;
    height: 356px;
    border-radius: 10px;
    text-align: center;
}

.event1 p {
    font-size: 25px;
    font-weight: 700;
    margin: 10px 0;
}

.event1 span {
    font-size: 15px;
    font-weight: 400;
}

.event1 a:hover span{
    filter: opacity(0.5);
}

.event1 a:hover{
    filter: grayscale(100%);
}

/* footer */
.footer {
    width: 100%;
    background-color: #333;
}

.footer_in {
    width: 1320px;
    margin: auto;
    padding-top: 65px;
    padding-bottom: 65px;
}

.biglogo {
    display: block;
    margin-bottom: 20px;
}

.footer ul li,
.footer ul li a {
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.8;
}

.footer .fontsize {
    font-size: 20px;
    font-weight: 700;
}

.footertext {
    display: flex;
    justify-content: space-between;
}

.footertext .flex {
    display: flex;
    justify-content: space-between;
}

.footertext a img:hover {
    filter: opacity(0.5);

}

.footertext ul li a:hover {
    text-decoration: underline;
}

/* TOP BTN */
.topbtn {
    position: fixed;
    bottom: 50px;
    right: 50px;
    display: none;
    z-index: 1000;
}

.topbtn:hover {
    filter: brightness(1.3);
}

/* 스크롤 부드럽게 */
html {
    scroll-behavior: smooth;
}